.App {
  text-align: center;
}

.App-header {
  background-color: #070707;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "Lexend", "Roboto", sans-serif;
}